[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:vauxoo/mexico.git
	branch = 11.0
[submodule "vendor-bills"]
	path = vendor-bills
	url = git@git.vauxoo.com:vauxoo/vendor-bills.git
	branch = 11.0

[submodule "product_classification"]
	path = product_classification
	url = git@github.com:GustavoRequiez/product_classification.git
	branch = 11.0

[submodule "delivery_slip_rqz"]
	path = delivery_slip_rqz
	url = git@github.com:GustavoRequiez/delivery_slip_rqz.git
	branch = 11.0

[submodule "remove_attachemnts_invoice"]
	path = remove_attachemnts_invoice
	url = git@github.com:GustavoRequiez/remove_attachemnts_invoice.git
	branch = 11.0

[submodule "incoming_products_kardex"]
	path = incoming_products_kardex
	url = git@github.com:GustavoRequiez/incoming_products_kardex.git
	branch = 11.0

[submodule "revenue_history_projection"]
	path = revenue_history_projection
	url = git@github.com:GustavoRequiez/revenue_history_projection.git
	branch = 11.0

[submodule "measurement_processes_production"]
	path = measurement_processes_production
	url = git@github.com:GustavoRequiez/measurement_processes_production.git
	branch = 11.0

[submodule "value_merchandise_sent"]
	path = value_merchandise_sent
	url = git@github.com:GustavoRequiez/value_merchandise_sent.git
	branch = 11.0

[submodule "onebeat_integration"]
	path = onebeat_integration
	url = git@github.com:humanytek-team/onebeat_integration.git
	branch = 12.0
